*{
    margin: 0;
    padding: 0;

}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E7F2EF;
}

/* bagian navigation bar */
nav {
    background-color: #19183B;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar-link li {
    display: inline;
    margin: 0 15px;
}

.navbar-link a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.li-navbar{

    color: #3b82f6;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: 0.3s;
}

.li-navbar:hover{
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

/* bagian content home */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #E7F2EF;
}

/* bagian konten kiri */
.content-left {
    flex: 1;
    padding: 20px;
}
.h2-content {
    font-size: 2.5rem;
    color: #333;
}
.content-left span {
    color: #ff6347;
}

button {
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: 0.3s;
}

button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}


/* bagian konten kanan */
.content-right {
    flex: 1;
    padding: 20px;
    text-align: center;
}
.img-profile img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

/* bagian tentang saya */
.about{
    background-color: #A1C2BD;
    margin-bottom: 50px;
    padding-top: 20px 50px;
    text-align: center;
}
h2{
    text-align: center;
}
p{
    margin-bottom: 50px;
    padding-bottom: 10px 50px;
}

/* bagian media sosial */
h3{
    text-align: center;
    margin-top: 100px;
}

li {
    list-style: none;
    text-align: center;
    display: inline;
    margin: 0 15px;
}

li:hover{
    color: #ff6347;
}

.ul-contact{
    text-align: center;
}


/* bagian footer */
footer{
    text-align: center;
    margin-top: 100px;
    background-color: #A1C2BD;
}





